/**
 * @name chillax
 * @author skidqs
 * @version 2.1.2
 * @description The theme where calm meets customization.
 * @source https://github.com/skidqs/chillax
 */

@import url("https://skidqs.github.io/chillax/chillax.css");
@import url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/base/Apple.css");

:root {
    --font-name: Poppins;
    --font-size: 13px;
    --group-chat-font: "Monoton";
    --accentcolor: 40, 40, 40;
    --accentcolorV2: #282828;
    
    --window-margin: 20px;
    --window-colour: #0009;
    --window-blur: 5px;
    --window-border-radius: 10px;
    --sidebar-colour: rgb(36, 36, 36);

    --chillax-input-field: "Life is so much easier when you just take a moment to chill";
    --chillax-input-field-locked: "unfortunately, you can't chill in this channel";
    --chillax-input-typing-indicator-one-person: "is yapping";
    --chillax-input-typing-indicator-many-person: "are yapping";

    --chillax-scroller-color: transparent;
}

.theme-dark {
    --background-message-hover: rgba(255, 255, 255, 0.055);
    --header-primary: #fff;
    --header-secondary: #b9bbbe;
    --text-normal: #dcddde;
    --text-muted: #9d9d9d;
    --channels-default: #8e9297;
    --interactive-normal: #b9bbbe;
    --interactive-hover: #dcddde;
    --interactive-active: #fff;
    --interactive-muted: #4f545c;
    --background-primary: transparent;
    --background-secondary: transparent;
    --background-tertiary: transparent;
    --background-accent: rgb(36, 36, 36);
    --activity-card-background: transparent;
    --deprecated-panel-background: transparent;
}

.content_c48ade {
    margin: var(--window-margin);
    margin-top: 4px;
    overflow: hidden;
    border-radius: var(--window-border-radius);
    background: var(--window-colour);
    backdrop-filter: blur(var(--window-blur)) !important;
}

.wordmark-2iDDfm:after {
    content: "Chillax";
    font-size: 16px;
    font-weight: 600;
    color: #fff;
}

.wordmark-2iDDfm svg {
    display: none;
}

.channelTextArea-1FufC0 .placeholder__443e3::before {
    content: var(--chillax-input-field) !important;
}

.channelTextArea-1FufC0 .placeholder__443e3[data-is-locked="true"]::before {
    content: var(--chillax-input-field-locked) !important;
}

.typing-2GQL18 {
    color: var(--text-muted);
}

.typing-2GQL18::before {
    content: var(--chillax-input-typing-indicator-one-person) " " !important;
}

.typing-2GQL18 .typingDots-3V5op9::before {
    content: var(--chillax-input-typing-indicator-many-person) " " !important;
}

[class*="typing"]:not([class*="avatar"]):not([class*="wrapper"])::before {
    content: var(--chillax-input-typing-indicator-one-person) !important;
}

[class*="typing"] [class*="text"]::before {
    content: var(--chillax-input-typing-indicator-many-person) !important;
}

.channelTextArea-1FufC0,
.channelTextArea-1FufC0:hover,
.channelTextArea-1FufC0:focus-within,
.scrollableContainer-15eg7h {
    background: #000000 !important;
}

.embedWrapper__6ed4a,
.embedFull__6ed4a {
    background: #000000 !important;
    border: 1px solid #000000 !important;
    border-radius: 4px !important;
}

.embed__6ed4a {
    background: #000000 !important;
    border-left: 2px solid var(--accentcolor) !important;
}

.forumOrHome__49676,
.panels_c48ade span,
.wrapper_ef3116,
.container__2637a,
.sidebarListRounded_c48ade,
.chat_f75fb0,
.chatContent_f75fb0,
.container_c8ffbb,
.members_c8ffbb,
.member_c8ffbb,
.wrapper_d852db,
.wrapper_fc8177 {
    background-color: transparent !important;
}

::-webkit-scrollbar,
::-webkit-scrollbar-track,
::-webkit-scrollbar-track-piece {
    border-color: transparent !important;
    background: transparent !important;
}

::-webkit-scrollbar-thumb {
    border: none !important;
    background-clip: content-box !important;
    background: var(--chillax-scroller-color) !important;
}

.wrapper_cb9592,
.minimum_cb9592,
.callContainer_cb9592,
.root_f555ee,
.tile__90dc5,
.videoGrid_a21736,
.container__9293f,
.container__0b563,
.container_c2efea,
.visual-refresh .page_c791b2,
.visual-refresh .mainTableContainer__09a38,
.visual-refresh .container__0b563,
.visual-refresh .header__0b563,
.visual-refresh .pageBody__41ed7,
.visual-refresh .channelRow_e4503a,
.visual-refresh .container__551b0,
.visual-refresh .scroller__23746,
.visual-refresh .shop__6db1d,
.shopScroll__6db1d,
.shop__08415,
.pageWrapper__6db1d,
.applicationStore_f07d62,
.visual-refresh .homeWrapper__0920e,
.allPerksScroller_ca1a02,
.mainPageScroller_ca1a02 {
    background: transparent !important;
}

.headerArtV2__3ce43 {
    border-radius: 15px;
}

.userPopout-2j1gM4 {
    backdrop-filter: blur(4px);
    background-color: rgba(0, 0, 0, 0.4) !important;
}

.footer-3naVBw {
    background-color: rgba(0, 0, 0, 0) !important;
}

.avatar-2Vndt_ {
    border: 6px solid transparent;
    background-color: transparent;
}

.bodyInnerWrapper-2bQs1k,
.avatar-2OC07D {
    background: none;
    box-shadow: none !important;
}

.lookFilled__201d5 {
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: 0.2s;
    background: rgb(36, 36, 36) !important;
    color: #fff !important;
}

.lookFilled__201d5:hover {
    background: rgb(0, 0, 0) !important;
    transition: 0.1s;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4);
}

.clickable__91a9d:hover,
.interactive_bf202d:hover {
    transform: scale(1.1);
    transition: all 0.2s;
}

.clickable__91a9d,
.interactive_bf202d {
    transition: all 0.3s;
}

.container__55c99 {
    -webkit-box-shadow: var(--elevation-high) !important;
    box-shadow: var(--elevation-high) !important;
    border-radius: 8px !important;
    background-color: #181a1da6 !important;
    backdrop-filter: blur(15px) !important;
}

@keyframes pop {
    from {
        transform: translateY(30px);
        opacity: 0.4;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.newMessagesBar__0f481.barBase__0f481 {
    margin-left: auto;
    margin-top: auto;
    align-self: flex-end;
    justify-self: flex-end !important;
    position: absolute !important;
    z-index: 998;
    bottom: 78px;
    right: 22px;
    padding: 8px 8px !important;
    width: 25.5px;
    height: 20px;
    background-color: var(--brand-experiment);
    box-shadow: var(--elevation-high);
    border-radius: 100px;
    display: flex;
    animation: pop 0.2s ease-in;
    transition: font-size 0s, color 0.2s 0.1s, padding 0.4s, width 0.1s 50ms;
    opacity: 1;
}

.newMessagesBar__0f481.barBase__0f481:hover {
    padding: 8px 18px !important;
    width: 105px;
    transition: font-size 0s, color 0.2s 0.1s, padding 0.4s, width 0.1s 50ms;
}

.newMessagesBar__0f481.barBase__0f481 > button {
    font-size: 0px;
    color: transparent !important;
    transition: color 0.3s 0.1s, padding 0.4s;
}

.newMessagesBar__0f481.barBase__0f481:hover > button {
    font-size: 14px;
    color: #fff !important;
    transition: color 0.3s 0.1s, padding 0.4s;
}

.barButtonIcon__0f481 {
    order: -1;
    margin: 0;
    margin-right: 0;
    margin-left: 6.5px;
    transition: all 0.2s;
    color: #fff !important;
}

.newMessagesBar__0f481.barBase__0f481:hover .barButtonIcon__0f481 {
    margin-right: 5px;
    margin-left: 0;
}

.barButtonBase__0f481 {
    padding: 0;
}

.barButtonMain__0f481,
.barButtonMain__0f481 * {
    display: none !important;
}

[class*="jumpToPresentBar"] {
    display: contents;
}

[class*="jumpToPresentBar"] > button:first-child {
    display: none;
}

[class*="jumpToPresentBar"] > button:last-child {
    position: absolute;
    z-index: 1;
    bottom: 24px;
    right: 22px;
    padding: 8px !important;
    height: auto;
    background-color: var(--accentcolorV2);
    box-shadow: var(--elevation-high);
    border-radius: 100px;
    display: flex;
    font-size: 0px;
    color: transparent;
    transition: font-size 0.2s 0.1s, color 0.2s, padding 0.4s 0.1s;
}

[class*="jumpToPresentBar"] > button svg {
    order: -1;
    margin: 0px;
    height: 24px;
    width: 24px;
    top: auto;
    margin-right: 0px;
    margin-left: 0px;
    color: #fff;
    transition: margin 0.6s;
}

[class*="jumpToPresentBar"]:hover > button {
    padding: 8px 18px !important;
    font-size: 14px;
    color: #fff;
    transition: font-size 0.2s, color 0.2s 0.1s, padding 0.4s;
}

[class*="jumpToPresentBar"]:hover > button svg {
    margin-right: 2px;
    margin-left: -6px;
}

.container__55c99,
.css-1x99fvh-menu,
.css-3vaxre-menu,
.drawerSizingWrapper__08434,
.layer-2aCOJ3 div[role="dialog"],
.layer-2aCOJ3 div[role="menu"],
.messagesPopoutWrap__45690,
.popout-1KHNAq[role="listbox"] {
    animation: animation-top 0.25s ease;
}

@keyframes animation-top {
    0% {
        -webkit-transform: translate(0, calc(14px * -1));
        transform: translate(0, calc(14px * -1));
        opacity: 0;
    }
    100% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
        opacity: 1;
    }
}

.avatarWrapperNormal_f89da9,
.avatarPositionNormal_f89da9 {
    position: absolute;
    transform: translate(-50%);
    left: 50%;
}

.headerText-1-WmDq {
    text-align: center;
    position: relative;
    max-width: 100%;
    right: 0px;
    top: -7px;
}

.profileBadges_f89da9 {
    justify-content: center;
    position: relative;
    max-width: 100%;
    right: 0px;
    top: -10px;
}

.userText_c9ccf6,
.usernameSection_d2b491,
.pronouns_c9ccf6 {
    text-align: center !important;
    justify-content: center !important;
    display: flex !important;
}

.profileBadges_f89da9 {
    max-width: 40%;
    left: -20px;
    top: 15px;
}

.mentioned__5126c:before {
    background: linear-gradient(135deg, #3b3b3b, var(--accentcolorV2)) !important;
}

.mentioned__5126c {
    background: linear-gradient(60deg, rgba(41, 41, 41, 0.3), rgba(var(--accentcolor), 0.9)) !important;
}

.mentioned__5126c:hover {
    background: linear-gradient(60deg, rgba(32, 32, 32, 0.5), rgba(var(--accentcolor))) !important;
}

.reactionMe_f8896c {
    border-radius: 50px !important;
    background: var(--accentcolorV2) !important;
    border: 1px solid transparent !important;
}

.reactionMe_f8896c:hover,
.reaction_f8896c:hover {
    border: 1px solid rgba(255, 255, 255, 0.5) !important;
}

.reaction_f8896c {
    border-radius: 50px !important;
    background: rgba(0, 0, 0, 0.3);
}

.scroller_ef3116 {
    display: flex;
    flex-direction: column;
    overflow: unset;
}

.scroller_ef3116 > div[aria-label="Servers"] {
    overflow: hidden auto;
    margin: 10px 0;
}

.scroller_ef3116 > div[aria-label="Servers"]::-webkit-scrollbar {
    width: 0;
}

.username_c19a55:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1.5px;
    bottom: 0;
    left: 0;
    background-color: currentColor;
    transform-origin: bottom center;
    transition: transform .1s;
}

.username_c19a55:hover {
    text-decoration: none !important;
}

.username_c19a55:hover:after {
    transform: scaleX(1);
    transform-origin: bottom center;
}

.wrapper__2ea32 {
    border-radius: 8px !important;
}

.root-8LYsGj .avatar-3QF_VA {
    border: 8px solid transparent;
}

.nameTag-35jqbZ {
    background-color: var(--profile-gradient-secondary-color);
    padding: 10px;
    border-radius: 8px;
    width: fit-content;
}

.connectedAccountContainer_e6abe8 {
    border-radius: 8px;
    background-color: var(--profile-gradient-secondary-color);
    border: none !important;
    width: 97%;
}

.headerArt__1dcd6,
.headerArtContainer__1dcd6 {
    height: auto !important;
    min-height: 120px !important;
    max-height: 240px !important;
}

.banner__1dcd6,
.bannerImage__1dcd6 {
    height: auto !important;
    min-height: 100px !important;
    max-height: 200px !important;
}

.animatedContainer__1dcd6 {
    height: auto !important;
}

.header__1dcd6 {
    min-height: 120px !important;
}

.activityPanel__0d725,
[class*="activityPanel"],
.containerDefault__0a6a9 .activity__0d725 {
    display: none !important;
}

.avatarHint_f89da9 foreignObject {
    mask: none;
}

.avatarHintInner_f89da9 {
    border-radius: 50px;
}

.divider_d2b491 {
    display: none;
}

.section_d7a21f.lastSection_d2b491 {
    visibility: hidden;
    margin-top: -65px !important;
}

.numberBadge__2b1f5 {
    background-color: #fe365c;
    box-shadow: 0 0 10px 2px #ff2d54;
}

.connectedAccounts_e6abe8.userInfoSection-2u2hir {
    margin-top: 15px;
}

.connectedAccountsColumn_e6abe8 {
    width: calc((100% / 2) - 15px);
}

.pencilContainer_c3e427 {
    display: none;
}

.animatedContainer_f37cb1 {
    transform: scale(0.9) !important;
    border-radius: 8px;
    box-shadow: 0 0 15px;
}

.input__4f074 {
    overflow: visible !important;
    font-weight: 200 !important;
    font-size: 25px;
    letter-spacing: 0.2px;
}

.scrollerInner__36d07 {
    background: transparent !important;
}
