:root {
    --embed-border-radius: 5px;
}

.embedWrapper__6ed4a,
.embedFull__6ed4a,
.embed__6ed4a,
.embed__623de,
.embedFull__623de,
.embedWrapper__623de {
    background: #000000 !important;
    border: 1px solid #ffffff !important;
    border-radius: 4px !important;
}

.embedInner__6ed4a,
.embedAuthor__6ed4a,
.embedTitle__6ed4a,
.embedDescription__6ed4a,
.embedFields__6ed4a,
.embedField__6ed4a,
.embedFooter__6ed4a,
.embedProvider__6ed4a {
    background: transparent !important;
}

.embed__6ed4a::before,
.embed__623de::before {
    display: none !important;
}

.embedFull__623de {
    border-top: none !important;
    border-right: none !important;
    border-bottom: none !important;
    box-shadow: none !important;
}

html.theme-dark .embed__623de code,
html.theme-light .embed__623de code {
    background: #000000 !important;
}

.grid__623de {
    z-index: 1;
}

.embedFull__623de:after,
.embedFull__623de:before {
    display: none !important;
}

.embed, .message-embed {
  border-left: none !important;
  background: var(--background-secondary) !important;
}
