:root {
    --embed-border-radius: 5px;
}

.embed__623de {
    background: #000000 !important;
    border: 1px solid #ffffff !important;
    border-radius: 4px !important;
}

.embedFull__623de {
    background: #000000 !important;
    border: 1px solid #ffffff !important;
    border-radius: 4px !important;
    border-top: none !important;
    border-right: none !important;
    border-bottom: none !important;
    box-shadow: none !important;
}

html.theme-dark .embed__623de code,
html.theme-light .embed__623de code {
    background: #000000 !important;
}

.grid__623de {
    z-index: 1;
}

.embedFull__623de:after,
.embedFull__623de:before {
    content: "";
    height: 100%;
    width: var(--embed-line-width);
    position: absolute;
    top: 0;
    display: none;
}

.embedFull__623de:after {
    z-index: -3;
}

html.theme-dark .embedFull__623de:after,
html.theme-light .embedFull__623de:after {
    background: transparent !important;
}

.embedFull__623de:before {
    opacity: 0.8;
    z-index: -1;
}

html.theme-dark .embedFull__623de:before,
html.theme-light .embedFull__623de:before {
    background: transparent !important;
}
